:root {
    --main-color: #003566;
    --secund-color: #ffc300;
    --text-color: #fff;
}

* {
    box-sizing: border-box;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

form {
    padding: 10px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.lead-input {
    border-radius: 5px;
    border: none;
    padding: 8px;
    width: 100%;
    
}

.lead-input:focus {
    border: none;
    outline: 2px solid var(--secund-color);
}

.url-input {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: var(--text-color);
}

.url-input-focus {
    
}

i {
    color: var(--secund-color);
    font-weight: bold;
    font-size: larger;
    cursor: pointer;

}

i:hover {
    filter: brightness(0.7);
}

i:active {
    scale: 1.3;
}

.favorites {
    display: flex;
    flex-direction: column;
}

.lead {
    display: flex;
    width: 100%;
    background-color: #22313f	;
    gap: 20px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

/* .lead input {
    background-color: var(--main-color);
    border: none;
    color: var(--text-color);
    width: calc(100% - 10px);
    margin-bottom: 10px;;
} */